.slider {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.slider.img-cont {
	position: relative;
	display: inline-block;
}

.slick-slide {
	position: relative;
}

.slick-slide img {
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	
	transition: 0.2s;
	opacity: 0;
}

.img-cont:hover .overlay {
	opacity: 1;
	z-index: 99999;
	cursor: pointer;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

.overlay-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.border-content {
	border-bottom: 1px solid #fff;
	width: 75%;
	margin: 10px auto 10px;
}

.link-style {
	border-radius: 50%;
	opacity: .7;
	-webkit-animation: fadeEffect 2s;
	animation: fadeEffect 2s;
}

@media only screen and (max-width: 480px) {
	.slick-slide {
		height: 200px;
	}
	.slider {
		width: 63%;
	}
}
