
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
.menu {
    width: 100%;
}
.menu-container {
  margin: 0 auto;
  background: #262626;
}
.menu a.logo {
    display: inline-block;
    padding: 13px 20px;
    width: 73px;

    float: left;
}
.menu  a.logo img {
    height: 51px;
    width: 51px;
}
.menu-mobile {
  display: none;
  padding: 20px;
}
.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  color: #ffffff;
}
.menu-dropdown-icon:before {
  content: "\f489";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 1em 1.5em;
  background: #fff;
  color: #333;
  margin-right: 20px;
}
.menu > ul {
  margin: 0 auto;
  /*width: 80%;*/
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
      clear: right;
}
.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}
.menu > ul:after {
  clear: both;
}
.menu > ul > li {
  float: left;
  background: #262626;
  padding: 0;
  margin: 0;
}
.menu > ul > li a {
    color: #ffffff;
  text-decoration: none;
  padding: 30px 20px;
  display: block;
  font-size: 20px;
}
.menu > ul > li.hover-this-menu:hover{
    /*border-bottom: 1px solid #fff;*/
}
.menu > ul > li:hover {
  /*background: #f0f0f0;*/

}
.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #2b2b2b;
  padding: 20px 40px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 30px;
  list-style: none;
  width: 15%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li.with-image-menu{
    width: 55%;
}
.menu > ul > li > ul > li.media{
    padding-bottom: 0px;
}
.menu > ul > li > ul > li a {
  color: #777;
  padding: .2em 0;
  /*width: 95%;*/
  display: block;
  /*border-bottom: 1px solid #ccc;*/
}
.menu > ul > li > ul > li a:hover{
    color:#fafafa;
}
.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}
.menu > ul > li > ul > li > ul:after {
  clear: both;
}
.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  /*font-size: .8em;*/
}
.menu > ul > li > ul > li > ul > li a {
  border: 0;    
  font-size: 14px;
}
.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 0px 20px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
  padding-bottom: 0px;
}
.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}
.menu > ul > li:hover {
  /*border-bottom: 1px solid #ffffff;*/
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
  .menu-container {
    width: 100%;
  }
  .menu-container .menu{
    display:inline-block;
   }
  .menu-mobile {
    display: block;    
    float: right;    
    padding: 20px 20px 0;
  }
  .menu-dropdown-icon:before {
    display: block;
  }
  .menu > ul {
    display: none;
    width:100%;
  }
  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
  }
  .menu > ul > li a {
    padding: 1.5em;
    /*width: 100%;*/
    display: block;
  }
  .menu > ul > li > ul {
    position: relative;    
    padding: 0 40px;
  }
  .menu > ul > li > ul > li.with-image-menu,
  .menu > ul > li > ul.normal-sub {
    width: 100%;
  }
  .menu > ul > li > ul.normal-sub {
    padding: 0 20px;
  }
  .menu > ul > li > ul.normal-sub > li {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
  .menu > ul > li > ul.normal-sub > li:first-child{
    margin-top: 0px;
  }
  .menu > ul > li > ul.normal-sub > li a:after{
    content: "";
  }
  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    margin-top: 15px;
  }
  .menu > ul > li > ul > li:first-child {
    margin-top: 20px;
  }
  .menu > ul > li > ul > li > ul {
    position: relative;
    display: none; /*sub nav on mobile */
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
  }
  .menu > ul > li > ul > li > ul > li.image-menu {
    float: left;
  }
  .menu .show-on-mobile {
    display: block;
  }
  .menu > ul > li > ul > li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }
  .menu > ul > li > ul > li a:after{
    content: " > ";
    float: right;
    color: #ffffff;
  }
  .menu  a.logo img {
    height: 40px;
    width: 40px;
  }
  .menu > ul > li.hover-this-menu:hover{
    border-bottom: none;
  }
  .menu > ul > li > a.Cart{
    display: none;
  }
}

.second-row{
  clear: both;
}

.image-menu{
    width: 15% !important;
    margin: 0 10px !important;
    float: left;
}
img {
  width: 100%;
}

/* cart style */
.Header .Cart {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-family: futura-pt;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .01em;
    text-transform: none;
}
.tweak-header-cart-style-cart .Header .Cart .Cart-inner {
    padding-top: .8em;
    padding-bottom: .5em;
}
.tweak-header-cart-style-cart .Header .Cart .Cart-inner {
    display: block;
    position: relative;
}
.tweak-header-cart-style-cart .Header .Cart {
    position: relative;
    white-space: nowrap;
    line-height: 1em;
    fill: #fff;
    stroke: #fff;
}
.tweak-header-cart-style-cart .Header .Cart .Cart-label {
    display: none;
}
.tweak-header-cart-style-cart .Header .Cart .Icon--cart, .tweak-header-cart-style-cart .Header .Cart .Icon--bag, .tweak-header-cart-style-cart .Header .Cart .Icon--cart-alt, .tweak-header-cart-style-cart .Header .Cart .Icon--bag-alt {
    display: none;
}
.tweak-icon-weight-medium .Icon--bag, .tweak-icon-weight-medium .Icon--bag-alt, .tweak-icon-weight-medium .Icon--cart, .tweak-icon-weight-medium .Icon--cart-alt, .tweak-icon-weight-medium .Icon--dots-horizontal, .tweak-icon-weight-medium .Icon--dots-vertical, .tweak-icon-weight-medium .Icon--hamburger, .tweak-icon-weight-medium .Icon--hotdog, .tweak-icon-weight-medium .Icon--plus, .tweak-icon-weight-medium .Icon--squares-horizontal, .tweak-icon-weight-medium .Icon--squares-vertical, .tweak-icon-weight-medium .Icon--user-accounts {
    stroke-width: 3;
}
.tweak-header-cart-style-cart .Header .Cart .Icon--cart {
    display: inline-block;
}
.tweak-header-cart-style-cart .Header .Cart .sqs-cart-quantity {
    display: inline-block;
    vertical-align: top;
    min-width: 1em;
    margin-top: -.5em;
    margin-left: -1em;
    border-radius: 1em;
    padding: .5em;
    background-color: #f2f2f2;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    color: #2e2e2e;
    text-align: center;
    line-height: 1em;
}
