@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
.icon-button {
	background-color: white;
	cursor: pointer;
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2rem;
}
.facebook, .twitter, .instagram, .gmail, .youtube, .google-plus, .linkedin {
	background-color: #282828;
}
.icon-button i {
	background: none;
	color: white;
	height: 2rem;
	left: 0;
	line-height: 2rem;
	position: absolute;
	top: 0;
	width: 2rem;
	z-index: 10;
}
